fastapi
uvicorn
opencv-python
numpy
pydantic
python-multipart
scikit-learn
torch
torchvision
torchaudio
Pillow
google-generativeai
python-dotenv
requests
supabase
mediapipe
librosa
parselmouth
imageio-ffmpeg
